@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #1ca0a2 #1ca0a24c;
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #f1f5f8;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #999 #d2c8ff;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #c8c8ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #999;
}